@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'gandom';
    src: url('./Gandom.ttf');
}

@font-face {
    font-family: 'mj-f';
    src: url('./mj_fonoon.ttf');
}
@font-face {
    font-family: 'nast';
    src: url('./IranNastaliq.ttf');
}
@font-face {
    font-family: 'maktab';
    src: url('./MaktabRita-Regular.ttf');
}
@font-face {
    font-family: 'nas';
    src: url('./Far_Decorative_Bold/Far_Decorative_Bold.ttf');
}
@font-face {
    font-family: 'parvas';
    src: url('./W_parvaz/W_parvaz.TTF');
}

* {
    font-family: 'gandom';
}